 body {
    background-color: rgb(221, 221, 221);
    text-align: center;
 }
 p {
   color: rgb(111, 108, 119);
 }
 h1 {
   font-style: italic;
 }
 .jennie {
  color: black;
  font-size: 20px;
 }
 .lisa {
  width: 50%;
  text-align: center;
 }